%p
  This is the feed editor, baby. Adding a feed is easy, just follow these steps:
%ul 
  %li Give a name to your feed (in the vertical bar thingy just left of the question mark you just pushed, baby)
  %li Add channels
%p
  Adding channels deserves to be described in a bit more detail, I belive. You have two choices here:
%ul
  %li
    Click on the happy and friendly 'All channels!' checkbox at the bottom. This is the easy solution,
    but you'll get craploads of stuff into your feed
  %li
    %p 
      Select channels from the list on the right and click the button with an arrow like "<--". Some
      sacred hoodoomambojambo happens and the channels you selected will be moved to the list on the left.
      This list (the one on the left, that is) contains the channels you're subscribing to (that's a fancy word,
      don't you think, baby?), ie. the channels you'll get notifications about in your feed.
    %p
      You also have the possibility of filtering the el biggo channels list on the right. There's a text field
      above the list: try entering something into that and notice how the lists grows shorter. Erase (try
      using backspace for that!) what you just wrote and all the items will amazingly reapper! This is a really
      powerful tool capable of world domination. Take it seriously, baby!
%p
  Once you're done with these steps, simply click the button labeled "Create!" (or "Update!" if you were
  editing an existing feed). Your feed will now appear in the list and you can subscribe to the RSS by clicking
  the
  = image_tag 'rss.png', :size => '15x15', :style => 'height: 15px; width: 15px; vertical-align: middle;'
  . The feed can be deleted by clicking the
  = image_tag 'trash.png', :size => '10x10', :style => 'height: 10px; width: 10px; vertical-align: middle;'
  and edited by simply clicking the name of the feed.
%p
  That should be pretty much it. Now, get RSS'ing, baby!