%p
  This is the "feeds view". Here you can
  <a href="http://en.wikipedia.org/wiki/Create%2C_read%2C_update_and_delete">CRUD</a>
  your RSS feeds. And that is what this little application is all about: getting the topic changes of IRC
  channels on the Shinsen-IRC delivered directly to your favorite RSS reader. In other words, you
  can let your RSS reader tell you when the topic of an important channel changes, instead of
  checking the topic manually every five minutes. That's push instead of pull, baby!
%p
  You probably want to start out by clicking the 'New feed' link. Hell, you can't really do anything
  besides clicking that link. So go ahead, have fun and ask mebe as soon as you have problems
  (ie. in five minutes).