<html>
    <head>
        <title>Topificator - Help</title>
        <%= stylesheet_link_tag "help", :media => "all" %>
    </head>
    <body>
    <div id="helpContainer">
        <%= image_tag 'bigger_question.png', :size => '49x49' %> <h1>Oy, WTF now?!</h1>
        <p>
            <%= @content_for_layout %>
        </p>
    </div>
    </body>
</html>