<a href="#" class="lbAction" rel="deactivate" style="float: right;">
    <%= image_tag 'close.png', :size => '16x16', :style => 'width: 16px; height: 16px; margin: 5px;' %>
</a>
<%= image_tag 'bigger_question.png', :size => '49x49',
    :style => 'width: 49px; height: 49px; vertical-align: middle; margin: 5px;' %>
<h1 style='display: inline; font-size: 12pt; font-variant: small-caps;'>Oy, WTF now?!</h1>
<div style="padding-left: 5pt; padding-right: 5pt;"><%= @content_for_layout %></div>
