!!!
%html
  %head
    %title Topificator - Help
    = stylesheet_link_tag "help", :media => "all"
  %body
    = image_tag 'bigger_question.png', :size => '49x49'
    %h1#helpWtf Oy, WTF now, mate?!
    =@content_for_layout