%a.lbAction{:href => '#', :rel => 'deactivate', :style => 'float: right;'}
  = image_tag 'close.png', :size => '16x16', :style => 'width: 16px; height: 16px; margin: 5px;'
= image_tag 'bigger_question.png', :size => '49x49', :style => 'width: 49px; height: 49px; vertical-align: middle; margin: 5px;'
%h1#helpWtf Oy, WTF now mate?!
#helpContainer=@content_for_layout